.accomodation-details-page{
    margin: 0 auto;
}

.first-container img{
    width: 600px;
    border-radius: 5px;
}

.first-container{
    display: flex;
    flex-direction: row;
}

.info-container{
    margin-left: 30px;
    border-radius: 5px;
    padding: 30px;
    width: 250px;
    background-color: #d77b6193;
  

}

.info-container h4{
    font-size: 25px;
    text-align: center;
    border-bottom:#19647E
}



.price{
    background-color: #28AFB0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.reserve{
    background-color: #19647E;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;   
    color: white;
}
.icons-info{
    display: flex;
}

.icons-info p{
    /* color: #b8624a; */
    font-weight: bold;
}

.icons-info img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icons-info div{
    display: flex;
    width: 20%;
    margin-top: 20px;
}

.rental-description{
    width: 700px
}