.accomodation-details-page{
    margin: 0 auto;
}

.first-container img{
    width: 500px;
    border-radius: 5px;
}

.first-container{
    display: flex;
    flex-direction: row;
}

.info-container{
    margin-left: 30px;
    border-radius: 5px;
    padding: 30px;
    width: 250px;
    background-image:linear-gradient( #67847c93, #d0f0e7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

}

.info-container h4{
    font-size: 25px;
    text-align: center;
    color: black
}



.price{
    background-color: #84cbbd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.reserve{
    background-color: #e3c166;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;   

}
.icons-info{
    display: flex;
}

.icons-info p{
    font-weight: bold;
}

.icons-info img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icons-info div{
    display: flex;
    width: 20%;
    margin-top: 20px;
}

.rental-description{
    width: 700px;
}

.rating img{
    width: 25px;
    margin-right:5px;
}

.rating{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.property-type{
    font-size: 18px;
}