

.link {
    text-decoration: none;
    color: inherit;
}

.accomodation-card{
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.261);
    border-radius: 10px;
    background-color: white;
}

.accomodation-img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.list-information{
   margin: 0 20px; 
   width: 50%;
}
.list-information img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.list-information h3, h4 {
    margin-top: 0;
}

.list-information span{
    display: flex;
    align-items: center;
}

.icons-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bookmark-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}

.labels{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.price-label{
    background-color: #19647E;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.label1{
    background-color: #28AFB0;
    padding: 10px 10px;
    border-radius: 5px;
    width: 120px;
    text-align: center;

}

.label2{
    background-color: #f2b928d4;
    padding: 10px 10px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}

.favourite-button{
        border: none;
        text-decoration: none;
        background-color: #cdcfd1;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        padding-top: 4px;
      }

.favourite-button img{
    width: 20px;
    
}

