.accomodation-list-container{
    width: 1000px;
}


.favourite-card{
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.fav-accomodation-img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.fav-list-information{
   margin: 0 20px; 
   width: 50%;
}
.fav-list-information img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.fav-list-information h3, h4 {
    margin-top: 0;
}

.fav-list-information span{
    display: flex;
    align-items: center;
}

.icons-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.delete-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}