.navbar{
    text-align: center;
    color: white;
    letter-spacing: 6px;
    font-size: larger;
    margin-top: 0;
    background-color: #6d8b83;
    height: 60px;
    
}

.navbar h1{
    margin-bottom: 10px;
    margin-left: 200px;
    margin-top: 0;
    padding-top: 10px;
}




