.navbar{
    text-align: center;
    color: #19647E;
    letter-spacing: 8px;
    font-size: larger;
    margin-top: 0;
    
}

.navbar h1{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
    
  
}




