.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.navbar img{ 
    width: 100px;
}



.navbar h1 {
    margin: 0; 
    text-align:center; 
    flex: 1
}