.sidebar{
    /* background-color: #67847C; */
    background-image: linear-gradient(#67847C, #d0f0e7);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar p{
   color: white;
   font-size: 20px;
   
}

.sidebar img{
    width: 180px;
    margin-top: 20px;
}

.side-bar-text{
    margin-top: 20px;
    text-align: center;
}